/* 구글 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* init */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* global tag */
h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(35, 35, 85);
}
span {
  font-size: .9rem;
  color: #757373;
}
h6 {
  font-size: 1.1rem;
  color: rgb(24, 24, 49);
}

/* main page start*/
/* navigation start */
nav {
  position: fixed;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 8vw;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
  z-index: 999;
}
nav img {
  width: 150px;
  cursor: pointer;
}
nav .navigation {
  display: flex;
}
nav #menu-btn {
  width: 30px;
  height: 30px;
  display: none;
}
nav #menu-close {
  display: none;
}
nav .navigation ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav .navigation ul li {
  margin-left: 30px;
}
nav .navigation ul li a {
  font-size: 16px;
  font-weight: 500;
  color: rgb(21, 21, 100);
  transition: 0.3s ease;
}
nav .navigation ul li a.active,
nav .navigation ul li a:hover {
  color: #FCD93B;
}
/* navigation end */
/* hero start */
#home {
  background: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5,4,46,0.7)), url("./images/back.jpg");
  width: 100%;
  height: 100vh;
  padding-top: 40px;
  background-size: cover;
  background-position: center;
  display: flex; /* flex 아이템들 column 방향으로 중앙 정렬 */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#home h2 {
  color: #fff;
  font-size: 2.2rem;
  letter-spacing: 1px;
}
#home p {
  width: 50%;
  color: #fff;
  font-size: 0.9rem;
  line-height: 25px;
}
#home .btn {
  margin-top: 30px;
}
#home a {
  font-size: 0.9rem;
  background-color: #fff;
  padding: 13px 35px;
  font-weight: 600;
  border-radius: 5px;
}
#home a.blue {
  background-color: rgb(21, 21, 100);
  color: #fff;
  transition: 0.3s ease;
}
#home a.blue:hover {
  background-color: #fff;
  color: rgb(21, 21, 100);
  transition: 0.3s ease;
}
#home a.yellow {
  background-color: #FCD93B;
  color: #fff;
}
#home a.yellow:hover {
  background-color: #fff;
  color: rgb(21, 21, 100);
}
/* hero end */
/* features start */
#features {
  padding: 5vw 8vw 0 8vw;
  text-align: center;
}
#features .fea-base {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
}
#features .fea-box {
  background-color: #F9F9F9;
  text-align: start;
}
#features .fea-box i {
  font-size: 2.3rem;
  color: rgb(44,44,80);
}
#features .fea-box h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(46, 46, 59);
  padding: 13px 0px 7px 0px;
}
#features .fea-box p {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(46, 46, 59);
}
/* features end */
/* cousrse start */
#course {
  padding: 8vw;
  text-align: center;
}
#course .course-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
}
#course .course-item {
  position: relative;
  background-color: #F9F9F9;
  text-align: start;
  height: 100%;
}
#course .course-item img {
  width: 100%;
  height: 60%;
  background-position: center;
  background-size: cover;
}
#course .course-item .details {
  padding: 15px 15px 0px 15px;
}
#course .course-item .details i {
  color: #FCD93B;
  font-size: 0.9rem;
}
#course .course-item .cost {
  background-color: rgb(74, 74, 136);
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  position: absolute;
  right: 15px;
  bottom: 100px;
}
/* course end */
/* registration start */
#registration {
  padding: 6vw 8vw 6vw 8vw;
  background-image: linear-gradient(rgba(99, 112, 168, 0.5), rgba(81, 1, 233, 0.5)), url("./images/signup.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#registration .remineder {
  color: #fff;
}
#registration .remineder h1 {
  color: #fff;
}
#registration .remineder .time {
  display: flex;
  margin-top: 40px;
}
#registration .remineder .time .date {
  text-align: center;
  padding: 13px 33px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  margin: 0px 5px 10px 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-size: 1.1rem;
  font-weight: 600;
}
#registration .form {
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 40px;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
}
#registration .form input {
  margin: 15px 0px;
  padding: 15px 10px;
  border: 1px solid rgba(84,40, 241);
  outline: none;
}
#registration .form input::placeholder {
  color: #413c34;
  font-weight: 500;
  font-size: 0.9rem;
}
#registration .form .btn {
  margin-top: 20px;
}
#registration a {
  font-size: 0.9rem;
  background-color: #fff;
  padding: 13px 35px;
  font-weight: 600;
  border-radius: 5px;
}
#registration a.yellow {
  background-color: #FCD93B;
  color: #fff;
}
#registration a.yellow:hover {
  background-color: #fff;
  color: rgb(21, 21, 100);
}
/* registration end */
/* profile start */
#experts {
  padding: 8vw;
  text-align: center;
}
#experts .expert-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
}
#experts .expert-box .profile {
  background-color: #fafaf1;
  padding: 30px 10px;
}
.pro-links {
  margin-top: 10px;
}
.pro-links i {
  padding: 10px 13px;
  border: 1px solid rgb(21, 21, 100);
  cursor: pointer;
  transition: 0.3s ease;
}
.pro-links i:hover {
  background: rgb(21, 21, 100);
  color: #fff;
  border: 1px solid rgb(21, 21, 100);
  cursor: pointer;
}
/* profile end */
/* footer start */
footer {
  padding: 8vw;
  background: #101c32;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
footer .footer-col {
  padding-bottom: 40px;
}
footer h3 {
  color: rgb(241, 240, 245);
  font-weight: 600;
  padding-bottom: 20px;
}
footer li {
  color: #7b838a;
  padding: 10px 0px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}
footer li:hover {
  color: rgb(241, 240, 245);
}
footer p {
  color: #7b838a;
}
footer .subscribe {
  margin-top: 20px;
}
footer input {
  width: 220px;
  padding: 15px 12px;
  background: #334f6c;
  border: none;
  outline: none;
  color: #fff;
}
footer .subscribe a {
  font-size: 0.9rem;
  background-color: #fff;
  padding: 12px 15px;
  font-weight: 600;
}
footer .subscribe a.yellow {
  background-color: #FCD93B;
  color: rgb(21, 21, 100);
}
footer .subscribe a.yellow:hover {
  background-color: #fff;
  color: rgb(21, 21, 100);
}
footer .copyright {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
footer .copyright p {
  color: #fff;
}
footer .copyright .pro-links {
  margin-top: 0px;
}
footer .copyright .pro-links i {
  background: #5f7185;
  color: #fff;
}
footer .copyright .pro-links i:hover {
  background: #FCD93B;
  color: #2c2c2c;
}
/* footer end */
/* main page end */
/* about page start */
/* about-home start */
#about-home {
  background: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5,4,46,0.7)), url("./images/back1.jpg");
  width: 100%;
  height: 60vh;
  padding-top: 40px;
  background-size: cover;
  background-position: center;
  display: flex; /* flex 아이템들 column 방향으로 중앙 정렬 */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#about-home h2 {
  color: #fff;
  font-size: 2.2rem;
  letter-spacing: 1px;
}
/* about-home end */
/* about-con start */
#about-container {
  display: flex;  
  align-items: center;
  padding: 8vw 8vw 2vw 8vw;
}
#about-container .about-img {
  width: 60%;
  padding-right: 60px;
}
#about-container .about-img img {
  width: 100%;
}
#about-container .about-text {
  width: 40%;
}
#about-container .about-text h2 {
  color: #29303b;
  padding-bottom: 15px;
}
#about-container .about-text p {
  color: #686F7A;
  font-weight: 300;
}
#about-container .about-text .about-fe {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}
#about-container .about-text .about-fe img {
  width: 50px;
  background-position: center;
  background-size: cover; 
  margin-right: 20px;
}
#about-container .about-text .about-fe .fe-text {
  width: 90%;
}
#about-container .about-text .about-fe .fe-text h5 {
  height: 16px;
  color: #29303b;
}  
/* about-con end */
/* trust start */
#trust {
  text-align: center;
  padding: 8vw;
}
#trust .trust-img {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#trust .trust-img img {
  width: 90px;
  height: auto;
}
/* trust end */
/* about page end */
/* blog page start */
#blog-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8vw;
}
#blog-container .blogs {
  width: 60%;
}
#blog-container .blogs img{
  width: 100%;
  border-radius: 10px;
}
#blog-container .blogs .post {
  padding-bottom: 60px;
}
#blog-container .blogs .post h3 {
  color: #29303b;
  padding: 15px 0px 10px 0px;
}
#blog-container .blogs .post p {
  color: #757373;
  padding-bottom: 20px;
}
#blog-container .blogs .post a {
  background-color: rgb(21, 21, 100);
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 5px;
  padding: 13px 35px;
}
#blog-container .cate {
  width: 30%;
}
#blog-container .cate a {
  color: #757373;
  line-height: 45px;
  font-weight: 500;
}
#blog-container .blogpost {
  width: 60%;
  margin: 0 auto;
}
#blog-container .blogpost p {
  text-align: justify;
  padding-bottom: 60px !important;
}
/* blog page end */
/* course_inner page start */
#course-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8vw;
}
#course-inner h3 {
  padding: 35px 0px 25px 0px;
  color: #29303b;
}
#course-inner p {
  color: #64626e;
}
#course-inner hr {
  height: 1px; 
  background: rgba(236, 236, 229, 0.5);
  margin-top: 40px;
}
#course-inner .overview {
  width: 70%;
}
#course-inner .overview .course-img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 20px;
}
#course-inner .overview .course-head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#course-inner .overview .course-head .c-name {
  width: 70%;
}
#course-inner .overview .course-head .c-name h2 {
  color: #29303b;
}
#course-inner .overview .course-head .c-name .star i {
  color: #FCD93B;
  font-size: 0.9rem;
}
#course-inner .overview .course-head .c-name p {
  font-size: 15px;
}
#course-inner .overview .course-head span {
  padding: 16px 22px;
  border-radius: 5px;
  color: #5838fc;
  font-size: 24px;
  font-weight: 700;
  background-color: rgba(88, 56, 252, 0.1);
}
#course-inner .tutor {
  display: flex;
}
#course-inner .tutor img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
}
#course-inner .tutor h5 {
  font-size: 15px;
}
#course-inner .learn p {
  font-size: 15px;
  padding-bottom: 15px;
}
#course-inner .learn p i {
  color: #654ce4;
  font-weight: 700;
  margin-right: 20px;
}
#course-inner .enroll {
  width: 300px;
  padding: 0px 30px 30px 30px;
  border-radius: 11px;
  box-shadow: 0 20px 40px 0 rgb(11 2 55 / 8%);
}
#course-inner .enroll h3 {
  padding-bottom: 10px;
}
#course-inner .enroll p {
  font-size: 15px;
  color: #64626e;
  margin: 15px 0;
}
#course-inner .enroll p i {
  color: #654ce4;
  font-weight: 600;
  margin-right: 18px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
}
#course-inner .enroll .enroll-btn {
  padding: 25px 20px 0px;
  margin: auto;
  text-align: center;
}
#course-inner .enroll .enroll-btn a {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 13px 45px;
  border-radius: 5px;
  color: #fff;
  background: rgb(50, 50, 136);
}
/* course_inner page end */
/* 반응형 */
@media (max-width: 769px) {
  /* main page start*/
  nav {
    padding: 15px 20px;
  }
  nav img {
    width: 130px;
  }
  nav #menu-btn {
    display: initial;
  }
  nav #menu-close {
    display: initial;
    font-size: 1.6rem;
    color: #fff;
    padding: 30px 0px 20px 20px;  
  }
  nav .navigation ul {
    position: absolute;
    top: 0;
    right: -220px;
    width: 220px;
    height: 100vh;
    background-color: rgba(17, 20, 104, 0.45);
    backdrop-filter: blur(0.45px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 0.3s ease;
  }
  nav .navigation ul.active {
    right: 0;
  }
  nav .navigation ul li {
    padding: 20px 0px 20px 40px;
    margin-left: 0;
  }
  nav .navigation ul li a {
    color: #fff;
  }
  #home {
    padding-top: 0px;
  }
  #home p {
    width: 90%;
  }
  #features {
    padding: 8vw 4vw 0 4vw;
  }
  #course {
    padding: 8vw 4vw 0 4vw;
  }
  #registration {
    margin-top: 8vw;
    padding: 6vw 4vw 6vw 4vw;
  }
  #registration .remineder .time {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  #experts {
    padding: 8vw 8vw 4vw 8vw;
    text-align: center;
  }
  footer .copyright .pro-links {
    margin-top: 15px;
  }
  /* main page end*/
  /* about page start */
  #about-container {
    padding: 8vw 4vw 2vw 4vw;
  }
  #about-container .about-img {
    padding-right: 30px;
  }
  #trust .trust-img img {
    width: 50px;
    height: auto;
  }
  /* about page end */
  /* blog page start */
  #blog-container {
    padding: 8vw 4vw;
  }
  /* blog page end */
  /* post page start */
  #blog-container .blogpost {
    width: 100%;
    margin-top: 30px;
  }
  #blog-container .blogpost img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }
  /* post page end */
  /* course-inner page start */
  #course-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8vw 4vw;
  }
  #course-inner .overview {
    width: 100%;
  }
  #course-inner .overview .course-img {
    width: 100%;
    height: 100%;
  }
  #course-inner .enroll {
    margin-top: 25px;
  }
  /* course-inner page end */
}
@media (max-width: 475px) {
  /* main page start */
  #registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #registration .remineder .time {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /* main page end */
  /* about page start */
  #about-container {
    flex-direction: column-reverse;
  }
  #about-container .about-img {
    width: 100%;
    padding-right: 0px;
  }
  #about-container .about-text {
    width: 100%;
    padding-bottom: 20px;
  }
  #trust .trust-img {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  #trust .trust-img img {
    width: 60px;
    margin: 10px 15px;
    height: auto;
  }
  /* about page end */
  /* blog page start */
  #blog-container {
    flex-direction: column;
  }
  #blog-container .blogs {
    width: 100%;
  }
  #blog-container .cate {
    width: 100%;
  }
  /* blog page end */
  /* post page start */
  #blog-container .blogpost {
    width: 100%;
    margin-top: 70px;
  }
  #blog-container .blogpost img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }
  /* post page end */
  /* course-inner page start */
  #course-inner .overview .course-head .c-name {
    width: 50%;
  }
  #course-inner .overview .course-head .c-name h2 {
  font-size: 22px;
  }
  #course-inner .overview .course-head span {
  font-size: 22px;
  }
  #course-inner .enroll {
    width: 100%;
  }
  /* course-inner page end */
}